name: lsst-tests

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  lsst-tests:
    name: lsst-tests
    strategy:
      matrix:
        pyver: ["3.13"]

    runs-on: "ubuntu-latest"

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}

      - name: free disk space
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          rm_cmd: "rmz"        # NEW: Faster deletion
          rmz_version: "3.1.1" # NEW: Specify rmz version

      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.pyver }}
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes
          conda install --quiet --yes --file requirements.txt
          conda install --quiet --yes --file dev-requirements.txt
          conda install -q -y stackvana=0 lsstdesc-weaklensingdeblending
          conda install lsstdesc-wl-shear-sims

          pip install --no-deps git+https://github.com/LSSTDESC/descwl_coadd.git
          rm -rf $(python -c "import os; print([path for path in os.sys.path if 'metadetect' in path][0])")
          python -m pip install -e .

      - name: test ngmix w/ conda latest
        shell: bash -l {0}
        run: |
          # we run metadetect/tests and metadetect/lsst/tests
          pytest -v -n 4 --cov=metadetect --cov-report term-missing metadetect
